body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.mainNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.highlight {
    font-weight: normal;
    font-size: 1rem;
    color: #9DC043;
}

.about-contactDetails{
    color: black; 
}

.about-contactDetails--link{
    text-decoration: none;
    color: black;
}

.about-contactDetails--link:hover{
    color: #9DC043;
}

.mainNav--list {
    display: flex;
    align-items: center; 
    padding-left: 0;
    padding-right: 20px;
    list-style-type: none;
    margin: 0;
}

.whatsapp--btn {
    height: 50px;
    width: 50px;
    align-items: center;
    margin-left: 10px;
}

.contactUs {
    display: flex;
    align-items: center;
}

.navList--item {
    margin: 0 1rem; 
}

.navList--link {
    text-decoration: none;
    color: grey;
    display: inline-block;
    line-height: 1.5; 
    transition: color 0.3s ease; 
}

.navList--link:hover {
    color: greenyellow;
    text-decoration: underline;
}

.addMember--btn {
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    background-color: rgb(62, 62, 61);
    color: white;
    cursor: pointer;
    height: fit-content; 
    line-height: 1.5; 
    transition: background-color 0.3s ease; 
}

.addMember--btn:hover {
    background-color: rgb(80, 80, 80);
}

.logo {
    width: 20%;
    height: 20%;
}

.image-container {
    position: relative;
}
  
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay-text {
    position: absolute;
    top: 75%; 
    left: 11%; 
    bottom: 25%;
    transform: translateX(-50%);  
    color: #fff; 
    padding: 5px 10px; 
    font-size: 1.5rem; 
    font-weight: bolder;
    display: inline-block;
}

.overlay-text::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 5px solid #9DC043;
    margin-top: 5px;
}

.about-wrapper {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
}

.about-content {
    flex: 1 1 50%; 
    text-align: justify;
    color: grey;
    font-size: 20px;
}

.carousel-container {
    flex: 1 1 50%;
    position: relative;
    width: 50%; 
    max-width: 50%;
    margin: auto;
    overflow: hidden; 
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }

.carousel-slide{
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-slide img {
    width: 100%;
    height: auto; 
    flex-shrink: 0;
}

.aboutSection-button--business {
    border-radius: 3rem;
    padding: 15px;
    background-color: #3E3E3D;
    color: white;
    transition: background-color 0.3s ease; 
}

.about-section{
    padding: 5%;
    background-color: rgb(239, 239, 239);
    margin: 5%;
}

.aboutSection-button--member {
    border-radius: 3rem;
    background-color: #9DC043;
    padding: 15px;
    border: none;
    transition: background-color 0.3s ease; 
}

.contactUs-page--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-image: url("/images/mossel--bay 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
}

.contactUs-page-candy {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sendMail input[type="text"],
.sendMail textarea {
    width: 70%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

.sendMail input[type="text"]::placeholder,
.sendMail textarea::placeholder {
    color: white;
    opacity: 0.8;
    text-align: left;
    vertical-align: top;
}

#message {
    height: 100px; 
    resize: none; 
    vertical-align: top;
}

.sendMail input[type="text"]::placeholder {
    color: white;
    opacity: 0.8;
}


.sendMail input[type="button"] {
    background-color: #9DC043;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}


.moreDetails p {
    color: white;
}

.sendMail,
.moreDetails {
    flex: 1;
    max-width: 48%;
    padding: 10px;
    flex: 1 1 50%; 
    color: white;
}



.sendMail {
    text-align: justify;
    font-size: 20px; 
}

.mapItem{
    width: 100%;
}

.follow-link{
    width: 30px;
    height: 30px;
    fill: #9DC043;
    display: inline-block;
    
}

.map-container{
    width: 100%;
    height: 50%;
}

.whatsappGroup{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.pages{
    display: flex;
    column-gap: .5rem;
}

.left-col {
    width: 30%;
    
}

.right-col {
    width: 30%;
    
}

.pages p {
    display: inline-block;
    margin: 5px;
}
  
.pages a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.pages-list{
    list-style-type: none;
}

.pages-list--link:hover{
    color: #9DC043;
}
  
footer {
    padding: 20px;
}

@media (min-width: 768px) {
    .pages,
    .about-wrapper {
        flex-direction: row; 
    }
    
    .whatsappGroup,
    .sendMail,
    .moreDetails,
    .carousel-slide,
    .carousel-container {
        flex: 1 1 48%; 
    }
}

@media (max-width: 768px) {
    .mainNav--list {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navList--item {
        margin: 0.5rem 0;
    }

    .overlay-text {
        font-size: 1.2rem;
        bottom: 8%;
        justify-content: center;
        align-items: center;
        top: 20%;
    }
}

@media (max-width: 480px) {
    .overlay-text {
        font-size: .5rem; 
        padding: 8px; 
        bottom: 8%;
        justify-content: center;
        align-items: center;
        top: 20%;
    }
    .logo{
        width: 10px;
        height: 10px;
    }

    .pages,
    .sendMail,
    .moreDetails,
    .carousel-slide,
    .carousel-container {
        flex: 1 1 100%; 

    }

    .mainNav {
        flex-direction: column; 
    }

    .navList--item {
        margin: 0.3rem 0; 
    }
}
